body {
    background-color:#C1E8C3;
}
#nav {
    font-family: 'Quicksand', sans-serif;
    margin-bottom: 0px;
    background-color:#6A1525
}
#nav a {
    text-decoration-color:black;
}

.row a:hover {
    background:none;
}
#bg {
    width:auto; height:400px;
    position:absolute;
    left:0;
    top:0;
}
.navbar-collapse {
    background-color:#E1E8DB;
    opacity:15;

}
#bs-example-navbar-collapse-1 {
    background-color:none;
}
.row.thumbnail {
    border:none;
    padding:5px;
}
a.thumbnail {
    border:none;
    background:none;
    padding:5px;
}
.otherProducts {
    margin:auto;
    border:none;
    padding:5px;
}
.otherProductsHeader {
    font-family: 'Quicksand', sans-serif;
    text-decoration-color:lightslategray;
}
